<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="CursedMod RuleSet" Description="CursedMod stylecop edits" ToolsVersion="15.0">
    <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers">
        <Rule Id="SA1101" Action="None" />
        <Rule Id="SA1028" Action="None" />
        <Rule Id="SA1633" Action="Error" />
    </Rules>
</RuleSet>